:root{
    --color-primario: #868686;
    --color-secundario: #FFCE00;
    --color-secundario2: #ffd942;
    --color-blanco: #fff;
    --color-negro: #000;

    --fuente-principal: ;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*, *::before, *::after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .producto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.precio{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo{
    /*border: 1rem solid var(--color-primario2);*/
    border-width: .1rem;
    border-style: solid;
    border-color: var(--color-primario);

    background-color: transparent;
    color: var(--color-negro);
    font-family: var(--fuente-principal);
    font-size: 2rem;
    border-radius: .5rem;
    appearance: none;
    outline: none;
    padding: 1rem;
}
.formulario__submit{
    background-color: var(--color-secundario);
    font-family: var(--fuente-principal);
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    transition: background-color .4s ease;
    grid-column: 1/3;
}
.formulario__submit:hover{
    background-color: var(--color-secundario2);
}